@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Buraco Nas Letras</h1>
    <p>Entre em contato comigo pelo e-mail <a href="mailto:contato@yurisiman.com.br">contato@yurisiman.com.br</a></p>
</div>
